@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="topaz">
<head>
    <script type="text/ng-template" id="SelectionBox.html">
        <div class="panel panel-default" ng-class="{ loading: loading, disabled: disabled }">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a ng-href="#{{ title | classify }}" data-parent="#accordion" data-toggle="collapse" ng-bind="title || 'Loading...'"></a>
                    <a ng-if="info" ng-href="{{ infoLink }}"><info ng-if="info">{{ info }}</info></a>
                </h4>
                <div ng-if="header" style="float: right;">
                    <div ng-repeat="column in header.columns" ng-bind-dynamic-html="column.html" html-scope="column.scope" style="display: inline-block;"></div>
                </div>
            </div>
            <div ng-attr-id="{{ title | classify }}" class="panel-collapse in" style="height: auto;">
                <div class="panel-body" style="position: relative;">
                    <table class="content-table">
                        <tr ng-if="loading">
                            <td colspan="999">Loading...</td>
                        </tr>
                        @*<tr ng-if="!loading" class="section-row" ng-repeat="row in rows">
                            <td class="section-column" ng-attr-style="{{ column.style }}" ng-attr-colspan="{{ column.colspan > 0 ? column.colspan : undefined }}" ng-repeat="column in row.columns" ng-bind-dynamic-html="column.html" html-scope="column.scope"></td>
                        </tr>*@
                    </table>
                </div>
            </div>
            <div ng-if="disabled" class="selection-box-disabled"></div>
        </div>
    </script>
    <script type="text/ng-template" id="SelectionSection.html">
        <table>
            <tr ng-if="loading">
                <td colspan="999">Loading...</td>
            </tr>
            <tr ng-if="!loading" class="section-row" ng-repeat="row in rows">
                <td class="section-column" ng-attr-style="{{ column.style }}" ng-attr-colspan="{{ column.colspan > 0 ? column.colspan : undefined }}" ng-repeat="column in row.columns" ng-bind-dynamic-html="column.html" html-scope="column.scope"></td>
            </tr>
        </table>
    </script>
    <script type="text/ng-template" id="TopazSection.html">
        <div class="row section">
            <div class="col-xs-12">
                <div class="panel panel-section">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{name}}">
                                {{ header }} <a ng-if="info" ng-href="{{ infoLink }}"><info ng-if="info">{{ info }}</info></a>
                            </a>
                            <img src="/Content/Images/ajax-loader.gif" ng-if="loading" />
                        </h4>
                    </div>
                    <div id="{{name}}" class="panel-collapse collapse">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        var topazDebug = @ViewBag.IsDebugging;

        var controllers = {};

        controllers.default = {
            submit: function () {
                //d3.selectAll("select, input, checkbox, img.button").property("disabled", true);

                var children = d3.selectAll("topaz-selection-section input");
                /*
                var parameters = urlParameters;

                for (var i = 0; i < children.length; i++) {
                    var params = children[i].requestParameters();

                    for (var key in params) {
                        parameters[key] = params[key];
                    }
                }

                window.location.hash = mergeHashString(parameters, "");*/
            }
        };

        window.onunload = function(){};
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Topaz</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="" />
    <meta name="subject" content="" />
    <meta name="creator" content="" />
    <meta name="description" content="" />
    <meta name="date" content="" />
    <meta name="owner" content="" />
    <meta name="robots" content="" />
    <link rel="shortcut icon" href="http://brandcenter.web.rdgcorp.com/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="http://brandcenter.web.rdgcorp.com/favicon.ico" />
    <style type="text/css" media="screen">
    </style>

    <link rel="stylesheet" type="text/css" media="print" href="/Content/css/print.css" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <meta name="robots" content="All" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/Content/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/rdgcorp.3.0.9.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="//brandcenter.web.rdgcorp.com/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="//brandcenter.web.rdgcorp.com/favicon.ico" />

    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
          <script src="/Scripts/html5shiv.js"></script>
          <script src="/Scripts/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/Scripts/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link href="/Content/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/topaz/colors.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/topaz/redGreenIndicator.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Scripts/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Scripts/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Content/css/topaz/charts/chart.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Content/css/topaz/charts/par_chart.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/topaz/charts/assetconsistencymatrix.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Content/css/assetmap.css" type="text/css" media="screen" />
    <link href="/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="/Content/css/angucomplete-alt.css" rel="stylesheet" />
    <link href="/Content/css/topaz/jqcloud.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/angular-1.3.6/angular.js"></script>
    <script type="text/javascript" src="/Scripts/topaz/App.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/InfoDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TooltipDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/BreadcrumbsDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazAssetMapDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazBannerDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazBarChartDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazBodyChartDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazBreadcrumbsDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazCheckboxDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazCodeDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazDatepickerDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazDefinitionDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazDonutChartDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazDropdownSelectionDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazExportLinkDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazHorizontalBarChart.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazIconDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazLarnChartDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazLegendDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazLineChartDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazLinkDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazMinitrendDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazParChartDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazParetoChartDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazPyramidChartDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazRadarChartDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazSectionDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazSelectionBoxDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazSelectionHeaderDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazSelectionHrDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazSelectionSectionDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazSubmitButtonDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazTableDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazTextInputDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazTreeHierarchyDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazTreeMapChartDirective.js"></script>
    @* Added by Indranil START *@
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazHorizontalStackedChartDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazSankeyDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazPieHorizontalChart.js"></script>
    @* Added by Indranil END *@
    @* Added by Gaurav START *@
    <script type="text/javascript" src="~/Scripts/topaz/directives/TopazHierarchicalHorizontalBarChartDirective.js"></script>
    @* Added by Gaurav END *@
    <script type="text/javascript" src="~/Scripts/topaz/directives/WhenReadyDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/AssetConsistencyMatrixDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/directives/StoplightMatrixDirective.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/factories/Dictionary.js"></script>
    <script type="text/javascript" src="~/Scripts/angucomplete-alt.js"></script>
    <script type="text/javascript" src="~/Scripts/date/moment.js"></script>
    <script>moment.suppressDeprecationWarnings = true;</script>
    <script type="text/javascript" src="~/Scripts/topaz/util.js"></script>
    <script type="text/javascript" src="~/Scripts/d3/d3.v3.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/d3/sankey.js"></script>*@
    <script type="text/javascript" src="~/Scripts/d3/d3.chart.min.js"></script>
    <script type="text/javascript" src="~/Scripts/d3/d3.chart.sankey.min.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/d3util.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jqcloud.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-1.3.6/angular-jqcloud.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/sitemap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/tooltip.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/assetmap.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/dictionary.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/table.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/chart.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/bar.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/body.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/horizontalbar.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/donut.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/pyramid.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/breadcrumbs.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/treebrowser.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/legend.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/line.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/par.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/pareto.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/larn.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/pie.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/treemap.js"></script>
    @* Added by Indranil START *@
    <script type="text/javascript" src="~/Scripts/topaz/charts/horizontalstacked.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/piehorizontal.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/charts/sankey.js"></script>
    @* Added by Indranil END *@
    @* Added by Gaurav START *@
    <script type="text/javascript" src="~/Scripts/topaz/charts/hierarchicalHorizontalBar.js"></script>
    @* Added by Gaurav END *@
    <script type="text/javascript" src="~/Scripts/topaz/selections/section.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/selections/box.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/services/Server.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/services/ScannerLocation.js"></script>
    <script type="text/javascript" src="~/Scripts/topaz/controllers/MasterController.js"></script>
    <script src="~/Scripts/angular-1.3.6/angular-sanitize.min.js"></script>
    <script src="/Scripts/angular-1.3.6/angular-sanitize.js"></script>
    <!--[if lt IE 9]>
        <link href="/Content/css/ie_custom.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body ng-cloak=ng-cloak ng-controller="MasterController">
    <script>
        @{if (ViewBag.PreferredDataSelection != null) { @Html.Raw("var preferredDataSelection = " + ViewBag.PreferredDataSelection + ";") }}
        @{if (ViewBag.UseLastUsedSelections != null) { @Html.Raw("var useLastUsedSelections = " + ViewBag.UseLastUsedSelections + ";") }}
        @{if (ViewBag.OrganizationSelection != null) { @Html.Raw("var userOrganizationSelection = " + ViewBag.OrganizationSelection + ";") }}
        @{if (ViewBag.LocationSelection != null) { @Html.Raw("var userLocationSelection = " + ViewBag.LocationSelection + ";") }}
        @{if (ViewBag.EmployeeSelection != null) { @Html.Raw("var userEmployeeSelection = " + ViewBag.EmployeeSelection + ";") }}
        @{if (ViewBag.DepartmentSelection != null) { @Html.Raw("var userDepartmentSelection = " + ViewBag.DepartmentSelection + ";") }}
        @{if (ViewBag.DepartmentSelection != null) { @Html.Raw("var showStopMessage = " + ViewBag.ShowStopMessage + ";") }}
        @{if (ViewBag.CostTest != null) { @Html.Raw("var costTest = '" + ViewBag.CostTest + "';") }}
        @Html.Raw("var topazProd = " + ViewContext.ViewBag.IsProduction.ToString().ToLower() + ";")
    </script>
    @if (ViewContext.ViewBag.Node != null)
    {
        @Html.Raw("<script>sitemap.setNode(\"" + ViewContext.ViewBag.Node + "\");</script>")
    }
    @if (ViewContext.ViewBag.AngularController != null && ViewContext.ViewBag.DefaultReportPage == null)
    {
        @Html.Raw("<script src=\"/Scripts/topaz/controllers/" + ViewContext.ViewBag.AngularController + ".js\"></script>")
        @Html.Raw("<div ng-controller=\"" + ViewContext.ViewBag.AngularController + "\">")
    }
    <div id="header-wrapper">
        <!-- logo header for small views -->
        <!-- hidden on the desktop -->
        <div class="container visible-xs">
            <header class="row brandzone">
                <brandlogo><a href="http://inside.rdgcorp.com" title="RDG Home"><img src="/Content/Images/rdgcorplogo_sm.gif" alt="RDG Home" /></a></brandlogo>
                <hamburger class="pull-right" role="navigation">
                    <button type="button" id="xs-menu-icon" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-list">
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </button>
                </hamburger>
                <search_icon class="pull-right">
                    <button type="button" class="btn btn-primary navbar-btn navbar-toggle searchmini navbar-right" id="xs-search-button"><img id="xs-search-icon-transparent" class="search-icon-off" src="/Content/Images/search_icon_transparent.png" width="22" height="19" alt="Search" /></button>
                </search_icon>
            </header>
        </div>
        <!-- begin header -->
        <div class="container hidden-xs">
            <div class="row" id="main-header">
                <nav id="main-header-text" class="navbar navbar-default hidden-xs" role="navigation">
                    <div class="navbar-text navbar-left">
                        <div><a href="http://inside.rdgcorp.com" title="RDG Home"><img class="" src="/Content/Images/rdgcorplogo.gif" alt="RDG" /></a></div>
                    </div>
                    <!--request a brand zone here: http://intranetstyleguide.web.rdgcorp.com/banners/#request -->
                    <div class="navbar-right">
                        <topaz-link node="home">
                            <img src="/Content/Images/bz_ETT.gif" />
                        </topaz-link>
                    </div>
                </nav>
            </div>
        </div>
        <!-- begin nav bar -->
        <div class="navbar-fullwidth default">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default" id="main-navbar" role="navigation">

                        <!-- begin hamburger and brand header -->
                        <div class="navbar-header visible-xs">
                            <!-- begin search -->
                            <form id="xs-search-form" role="search" method="get" action="/Search">
                                <span class="pull-right">
                                    <button type="submit" id="xs-search-go-button" class="btn btn-default pull-right">Go</button>
                                </span>
                                <div id="xs-search-term">
                                    <input type="text" id="xs-search-term-input" class="form-control" placeholder="Search" name="k" />
                                    <h1 class="navbar-brand navbar-text" id="xs-title-text">Topaz</h1>
                                </div>
                            </form>
                            <!-- end search -->
                        </div>

                        <!-- begin nav -->
                        <div class="navbar-collapse collapse" id="main-nav-list">
                            <div class="col-sm-10 col-md-9">
                                <script>
                                    document.write(sitemap.generateDropdown());
                                </script>
                            </div>

                            <!-- end nav -->
                            <!-- begin search -->
                            <div class="col-sm-1 col-md-2">
                                <span class="navbar-right visible-sm" id="nav-search-icon">
                                    <a href="#" data-toggle="modal" data-target="#search_modal"><img src="/Content/Images/searchbutton.jpg" /></a>
                                </span>
                                <form class="navbar-form navbar-right hidden-xs hidden-sm form-search form-inline" role="search" method="get" action="/Search" id="nav-search-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control header-search-input search-query" placeholder="Search" name="k" id="srch-term" />
                                        <span class="input-group-btn">
                                            <button type="button" onclick="document.location.href = '/Search?k=' + encodeURI(document.getElementById('srch-term').value);" class="btn btn-link header-search-icon">
                                                <!--<span class="glyphicon glyphicon-search"></span>--><img src="/Content/Images/searchbutton.jpg" alt="Search" />
                                            </button>
                                        </span>
                                    </div>
                                </form>
                                <!-- end search -->
                            </div>
                            <div class="col-sm-1 col-md-1">
                                <a target="_blank" href="https://collab.web.rdgcorp.com/sites/MATES/Topaz/_layouts/15/start.aspx#/Lists/Feedback/NewForm.aspx?Source=https%3A%2F%2Fcollab%2Eweb%2Erdgcorp%2Ecom%2Fsites%2FMATES%2FTopaz%2FLists%2FFeedback%2FAllItems%2Easpx&RootFolder=">
                                    <img src="~/Content/Images/chat_30_30.png" style="margin-top: 12px;" alt="Send Topaz Feeback" title="Send Feedback" />
                                </a>
                            </div>
                        </div>
                        @if (ViewBag.TestingAlert != null && ViewBag.TestingAlert.Visible)
                        {
                            <div class="alert alert-warning" id="TestingAlert">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>This page is running on the Topaz test server and is currently under public testing.</strong>
                            </div>
                        }
                        @if (ViewBag.DevelopmentAlert != null && ViewBag.DevelopmentAlert.Visible)
                        {
                            <div class="alert alert-danger" id="DevelopmentAlert">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <strong>This page is running on the Topaz development server and is currently under development.</strong>
                            </div>
                        }
                        <div class="alert alert-danger" id="ie-alert">
                            <button data-dismiss="alert" class="close" type="button">×</button>
                            <strong>You are using Internet Explorer 8, which is currently being phased out across RDG, or you are using Internet Explorer 11 in compatibility view <a href="/Content/Images/ie_compatibility.png" target="_blank">(Click here to see how to fix this)</a>.  Some features of Topaz do not work properly on IE 8.  Firefox and IE 11 are modern web browsers and both are available from Software Express.</strong>
                        </div>
                        <script type="text/javascript">
                            if (!usingIE || IEVersion > 8) {
                                $("#ie-alert").remove();
                            }
                        </script>
                    </nav>
                </div>
            </div>
        </div>

        @RenderSection("Header", false)
    </div>
    <!-- end header -->
        @*
                                             .#
                                           ## @,@`
                                        ;@.   :  ,@`
                                     .@:       `  @@@`
                                  `#+          + @  ';@`
                                ,@:            @@   ;  ;@
                               @,  :@#.        @     @   ;@
                             +: @      ;@+.   @.      :    ;#
                           ,@   @          ;@@` :   `:@#@@@',;
                          @`    :           +  #@+:.`  @    :`
                        +:     .           + '# @      `,   @
                      ,@       #          ;##   @       #   @
                     @`        @         #@;`   @        @ `@
                   ';          ;       ##   `'@+@        .`#@
                  @.          ``     @@  `      @;@#,     @@#
                `#  '@:       '    @@:   `      @    ,@@;  +;
               ,;+     :@+    @ `@;#     :      @        .#@.
              ;, @        .@#`#@`@`      :      @         @@
             '.  ;           @@+;        :      @        #'@
            +`  `           @.@`         :      #       @` ,
           @    +         ::@` @         '      #      @ #'
          @     @        @';    +        '      +    .'  @@
         @      '       @@      :        '      +   '.   .,
        @      .      ;@,        @       '      ;  @    ;;
        @+     +   :@@`#`@,       '      '      ; @     @@
        @`;    @'@: @  .   @;     '      @      ;+      ;,
        #,,,`#@'  :'  '      ++    @     @     ;'      .;
        #@@#, `  @`   @        ;@  `:    @    #`.      @@
        #@  ;`+ @     '          :@`#    @   @  .      #:
        ##@  +@'     .             .@@   @  @   .      '
        #+ :  '@     #               .@: @,'          '@
        #: + @  '+   @                @ #@.           @:
        #`  @`    '' :                 @';       `    @
        @   #,      #;              `@,:  #      .   ,@
        @  + +      @ #,          ,@`   @ '      .   @:
        @  ;  @     #   @,      ;#       ' +     .   @
        @ @   `.    `     @.  #'         ' '     ;  `@
        @.`    @   '       .@:            @ '    ;  +;
        @@      #  @     ,@` .@`           ,#    ;  @
        @       ,` ;   '#      :@          # ;   ;  @
        :@@+.    @.  #'          :#         @@   # ,;
            `;@@@'@@,              ;+       ``:  # @
                 `;@@@:              ''      @@  # @
                      .+@@+,           #:     +, #`;
                           .+@@'.        @:   ,@ @#
                                .+@@;      @.  @.@@
                                     ,#@#,  `@. @@'
                                          :#@+,@+@
                                               :@@
            *@
    <div class="wrapper">

        @if (ViewBag.NavbarVisible == null || ViewBag.NavbarVisible)
        {
            <!-- begin personality zone -->
            <div class="navbar-fullwidth default divider hidden-xs">
            </div>
        }

        <!-- end personality zone -->
        <!-- begin content -->
        <div class="container-fluid">
            <section class="content">
                <div class="container">
                    @if (ViewBag.NavbarVisible == null || ViewBag.NavbarVisible)
                    {
                        <!-- begin breadcrumb -->
                        <div class="row">
                            <div class="col-xs-12">
                                <ol breadcrumbs class="breadcrumb"></ol>
                            </div>
                        </div>
                        <!-- end breadcrumb -->

                        <div class="row">
                            <div class="col-xs-12 content_intro">
                                <h2 id="header"></h2>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-7" id="inPageSiteMap" style="display:none">
                            <script>document.write(sitemap.getNode().generateSiteMap());</script>
                        </div>
                    </div>

                    @if (ViewContext.ViewBag.DefaultReportPage != null)
                    {
                        <script type="text/javascript" src="~/Scripts/topaz/controllers/DefaultReportController.js"></script>

                        @Html.Raw("<div ng-controller=\"DefaultReportController\">")
                    }

                    @RenderSection("AboveAlerts", false)

                    <div class="alert alert-info" ng-if="bcaCostHidden">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <strong>Cost data is being zeroed out on this page since it contains some BCA cost information, in compliance with <a target="_blank" href="https://onepppm.web.rdgcorp.com/onepppm/app/documents/show?id=PRO-6547">PRO 6547</a>.  See more at <topaz-link node="about.data"></topaz-link>.</strong>
                    </div>
                    <div class="alert alert-info" ng-if="bdsCostHidden">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <strong>Cost data is being zeroed out on this page since it contains some BDS cost information, in compliance with <a target="_blank" href="https://onepppm.web.rdgcorp.com/onepppm/app/documents/show?id=PRO-6547">PRO 6547</a>.  See more at <topaz-link node="about.data"></topaz-link>.</strong>
                    </div>

                    @RenderBody()

                    @if (ViewContext.ViewBag.DefaultReportPage != null)
                    {
                        @Html.Raw("</div>")
                    }
                </div>
            </section>
        </div>
        <!-- Footer
                 ================================================== -->
        <div class="footer-wrapper">
            <div class="container">
                <section id="footer-content" class="row">
                    <div class="col-sm-4">
                        <h5><a class="footer-link" href="/home">HOME</a></h5>
                    </div>
                    <div class="col-sm-4">
                        <h5><a class="footer-link" href="/Contact">CONTACT</a></h5>
                    </div>
                    <div class="col-sm-4">
                        <h5><a class="footer-link" href="/About">ABOUT</a></h5>
                    </div>
                </section>
                <section id="footer-copyright" class="row col-sm-12">
                    <h6>
                        RDG Proprietary<br />
                        Copyright &copy;
                        <span id="yyyy">
                        </span>
                        RDG.
                    </h6>
                </section>
            </div>
        </div>
    </div>

    <!-- end footer -->
    <!-- begin search -->
    <div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-labelledby="Search" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Search</h4>
                </div>
                <form class="navbar-form" role="search" method="get" action="/Search">
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Search This Site" size="10" name="k" id="srch-term" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" name="Search" value="Search" />
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- end search -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="/Scripts/jquery/jquery.mobile-1.3.2.min.js"></script>
    <script src="/Scripts/rdgcorp.js"></script>

    <!-- Add fancyBox -->

    <script type="text/javascript" src="/Scripts/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <script type="text/javascript" src="/Scripts/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/Scripts/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <script type="text/javascript" src="/Scripts/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script src="/Scripts/jquery/tablesorter/jquery.tablesorter.min.js"></script>

    <script type="text/javascript">

        $(".panel-title").click(function () {
            $(this).trigger("classChanged");
        });

        jQuery(document).ready(function ($) {
            $(".fancybox").fancybox();

            $('.toggle_accordion').on('click', function () {
                $('#accordion .panel-collapse').collapse('toggle');
            });

            $("#table_to_sort").tablesorter();

            $('[data-toggle="popover"]').popover();

            var permalink = topazTooltip();
            permalink.element.style("pointer-events", "auto");

            permalink.contents = d3.select(document.createElement("div"));

            permalink.contents.append("span").text("Copy this URL to link to this page:").style("font-size", "10px");
            permalink.contents.append("br");

            var input = permalink.contents.append("input").attr("type", "text").style("width", "200px").style("color", "black").node();
            var email = permalink.contents.append("a").attr("href", "mailto:?subject=" + encodeURIComponent(document.title) + "&body=" + encodeURIComponent("Check out this page on Topaz: " + window.location.href))
                .style("margin-left", "10px")
                .append("span").attr("class", "glyphicon glyphicon-envelope");

            input.value = window.location.href;

            permalink.verticalAlignment = "center";
            permalink.horizontalAlignment = "right";

            permalink.offset = 7;

            permalink.reference = d3.select("#permalink").node();

            if (permalink.reference != null) {
                d3.select("#permalink").node().onclick = function () {
                    if (!permalink.visible) {
                        permalink.show();
                    }

                    input.focus();
                    input.select();
                };

                input.onblur = function () {
                    permalink.hide();
                };
            }
        });
    </script>


    <!-- start with cursor in search box  -->
    <script>
    window.onload = function() {
    var input = document.getElementById("srch-term").focus();
    }
    </script>


    <div class="debug-stats" id="DebugStats">
    </div>

    <!-- This is where additional scripts will be injected from the individual views.-->
    @RenderSection("Scripts", required: false)

    @if (ViewContext.ViewBag.AngularController != null && ViewContext.ViewBag.DefaultReportPage == null)
    {
        @Html.Raw("</div>")
    }
</body>
</html>
